<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>INVOICE email</title>
    <style type="text/css">

    </style>
</head>
<body>-->
    <table width="900" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
            <td height="70"></td>
        </tr>
        <tr>
            <td>
                <table width="704" border="0" align="center" cellpadding="0" cellspacing="0">
                    <tr>
                        <td bgcolor="#e6f1de" style="padding: 30px 95px 20px 95px;">
                            <h3 style="color: #3d3c38; font-size: 24px; font-weight: bold; font-family: arial,helvetica,clean,sans-serif;
                                    text-align: center;">
                                ORDER INVOICE
                            </h3>
                            <div style='padding: 20px 0 20px 0; line-height: 24px; font-size: 14px; font-family: Arial, Helvetica, sans-serif;
                                    color: #666;'>
                                <h3 style="margin: 0 0 10px 0;">
                                    Promo Ticket:
                                </h3>
                                <span>
                                    Ordered on: <strong style='color: #D46000;'>$$$_OrderDate_$$$</strong><br />
                                </span>
                                Item(s) Purchased: <strong style='color: #D46000;'>$$$_Event_$$$</strong><br />
    
                                Order Total: <br/><br/>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong style='color: #D46000;'>$$$_Amount_$$$ MYR</strong><br />
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong style='color: #D46000;'>$$$_Amountm_$$$ USD</strong><br />
								<br/>
                                Status: <strong style='color: #D46000;'>SUCCESS</strong><br />
                                Payment Gateway: <strong style='color: #D46000;'>GATEWAY</strong>
                                <br />
                            </div>
                            <div style='padding: 20px 0 20px 0; line-height: 24px; font-size: 14px; font-family: Arial, Helvetica, sans-serif;
                                    color: #666;'>
                                <h3 style="margin: 0 0 10px 0;">
                                    Buyer Information:
                                </h3>
                                Name: <strong style='color: #D46000;'>$$$_Name_$$$</strong><br />
                                Email Address: <strong style='color: #D46000;'>$$$_Email_$$$</strong><br />
                                
                                <hr/>
                                <br/>
                                <!-- Welcome home. -->
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td height="201" valign="top">
                            <a class="goback" href="https://localhost:3000">GO BACK TO PRODUCT PAGE</a>
                            <div style='font-size: 11px; margin: 20px 0 0 0; color: #737373; font-family: Arial, Helvetica, sans-serif;
                                    color: #666;'>
                                Copyright © 2021
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td height="150"></td>
        </tr>
    </table>
    <!--</body>
    </html>-->
    